DATABASE_URL=
SECRET_KEY=
INTERNAL_SECRET=
ALGORITHM=HS256

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

FRONTEND_URL=
USER_SERVICE_URL=http://user_service:8002
INGEST_SERVICE_URL=http://data-ingestion-service:8004

REDIS_URL=redis://redis:6379/2
BOT_SECRET=
