DATABASE_URL=
INTERNAL_SECRET=

PESAPAL_CONSUMER_KEY=
PESAPAL_CONSUMER_SECRET=
PESAPAL_SANDBOX=true
PESAPAL_IPN_URL=https://yourdomain.com/payments/webhook/pesapal/ipn
PESAPAL_CALLBACK_URL=https://yourdomain.com/payments/callback

ORDER_SERVICE_URL=http://order_service:8004
USER_SERVICE_URL=http://user_service:8002
NOTIFICATION_SERVICE_URL=http://notification_service:8007
FRONTEND_URL=https://yourdomain.com
